.food-name {
    background-color: #ffd82a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.general-padding {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
}

h1 {
    color: #80481f;
    padding-left: 30px;
    font-size: 40px;
}

h3 {
    margin-block-start: 0;
    margin-block-end: 0;
    color:rgb(99, 38, 0);
}

h2{
    color:rgb(99, 38, 0);
}

li {
    list-style: none;
}

ul {
    padding-inline-start: 0;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-top: 3px;
    padding-bottom: 3px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.tile-padding {
    height: 70%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    background-color: rgb(255, 241, 225);
}

.tags {
    color: #8b400a;
    margin-bottom: 5px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.grid-item {
    border: 1px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.tile{
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    padding-right: 40px;
}

.width{
    width:100%;
}



#description{
    width:100%;
    height:80px;
}

.right{
    display: flex;
    justify-content: flex-end;
}

.thumbnail{
    display: flex;
    width:20%;
    justify-content: center;
    align-items: center;
}



.edit_form{
    margin-top: 30px;
    padding:20px;
    margin-left: 50px;
    margin-right: 50px;
    border: solid 5px #ffd82a;
    border-radius: 20px;
}

.title-padding{
    padding-left: 60px;
    padding-top:30px;
}

.form-padding{
    padding-top: 10px;
}

.product-details-container {
    display: flex;
}

.thumbnail-container {
    flex: 0 0 auto;
    margin-right: 20px;
}

.product-info {
    flex: 1;
}


.link{
    text-decoration: none;
}

p{
    color:#000000;
}


.grid-item{
    height:90%;
    background-color: antiquewhite;
}

.tags-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 40px;
    padding-right:40px;
    padding-bottom: 20px;
}

.tags-link{
    text-decoration: none;
    color:#000000;
    border:solid 2px #ffd82a;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}

.tags-link:hover{
    background-color:#ffd82a;
}

.tile{
    height:200px
}

.product_img{
    display: block;
    height: 90%;
    width:auto;
}


.tile-list{
    margin-bottom: 10px;
}


.consumer_img{
    display: block;
    height: 150px;
    width:150px;
    align-items: center;
}

.detail_img{
    display: block;
    height: 300px;
    width:300px;
    align-items: center;
}


.insert_form{
    border: solid 3px #ffd82a;
    border-radius: 20px;
    padding: 20px;
    margin-left: 40px;
    margin-right:40px;
    margin-top:20px;
    margin-bottom: 20px;
}

.heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:20px;
}

a{
    text-decoration: none;
    color:#80481f;
    font-weight: 800;
}


.login{
    padding-left: 40px;
}


.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 25px;
    padding-left: 35px;
    padding-right: 35px;
}
